#platformio
*.pioenvs
*.piolibdeps
*.clang_complete
*.gcc-flags.json
*.pio

# Ignore files containing passwords, credentials, or secrets
*passwords*
*credentials*
*secrets*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
